{% extends 'base.html.twig' %}

{% block title %}Kursübersicht{% endblock %}

{% block body %}
    {{ include('component/_navbar.html.twig') }}
    <section class="py-5" id="overview">
        <div class="container py-5">
            <h1 class="text-center mb-3">Aktuelle Kurstermine</h1>
            <div class="row g-3 row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for course in courses %}
                    <div>
                        <div class="card border-0 shadow-sm">
                            {% if course.document %}
                                <img src="{{ vich_uploader_asset(course)|imagine_filter('course_thumb') }}" alt="Tutorium" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <div class="d-flex flex-column justify-content-start justify-content-md-end mb-3">
                                    <small class="opacity-50">{{ course.time|date('H:i') }} Uhr, {{ course.date|date('d.m.Y') }}</small>
                                    <small class="d-block">{{ course.location }}</small>
                                    <h6 class="mb-0 hero-paragraph fw-bold" style="line-height: 1.2">{{ course.title }}</h6>
                                    <p class="mb-0 opacity-75" style="line-height: 1.2">{{ course.subject }}</p>
                                </div>


                                <a href="{{ path('tutorium_show',{'id':course.id}) }}" class="stretched-link btn btn-dark w-100 mb-3">Zum Kurs</a>
                                {% if app.user %}
                                    {% if course.users.contains(app.user) %}
                                        <span class="badge text-dark bg-success">abonniert</span>
                                    {% else %}
                                        <span class="badge text-dark bg-light">nicht abonniert</span>
                                    {% endif %}
                                {% else %}
                                    <span class="badge text-dark bg-light">nicht abonniert</span>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="my-3 shadow-sm">
                <div class="list-group list-group-flush">
                    {% for appointment in appointments %}
                        <a href="{{ path('tutorium_show',{id:appointment.course.id}) }}" class="list-group-item list-group-item-action">
                            <div class="d-flex flex-column">
                                <h5 class="hero-title mb-0 mt-1">{{ appointment.course.title }}</h5>
                                <span>{{ appointment.title }}</span>
                                <small class="text-truncate">{{ appointment.date|date('d.m.Y') }}, um {{ appointment.time|date('H:i') }} Uhr ({{ appointment.date|ago }})</small>
                            </div>
                        </a>
                    {% else %}
                        Etwas Geduld - die nächsten Termine sind in Planung
                    {% endfor %}
                </div>
            </div>
        </div>
        {#
        {% if is_granted('ROLE_USER') %}
            <ul class="list-group list-group-flush">
                {% for item in course.lessonDocs %}
                    <li class="list-group-item bg-transparent">
                        <i class="bi ms-0 ms-md-2 bi-file-pdf me-2"></i><a href="{{ path('lesson_doc_download',{'id':item.id}) }}" class="small text-secondary text-decoration-underline" target="_blank">{{ item.document }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <small class="text-muted"><i>(Downloads nur nach <a href="{{ path('app_login') }}">Login</a> möglich)</i></small>
        {% endif %}
        #}
    </section>
{% endblock %}
