{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}
    {{ include('component/_navbar.html.twig') }}
    <section class="py-5" id="overview">
        <div class="container py-5">

            <div class="row mb-5">
                <div class="col-12 col-md-7 offset-md-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <a href="{{ path('tutorium_index') }}" class="btn btn-light "><i class="bi bi-chevron-double-up me-2"></i>Übersicht</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ ea_url()
                                    .setController('App\\Controller\\Admin\\CourseCrudController')
                                    .setAction('edit')
                                    .setEntityId(course.id) }}" class="btn btn-info "><i class="bi bi-pen"></i></a>
                            {% endif %}
                        </div>
                        <div>
                            {% if course.users.contains(app.user) %}
                                <a href="{{ path('tutorium_subscribe',{id:course.id}) }}" class="btn btn-success "><i class="bi bi-bell-fill me-2"></i>nicht folgen</a>
                            {% else %}
                                <a href="{{ path('tutorium_subscribe',{id:course.id}) }}" class="btn btn-light "><i class="bi bi-bell me-2"></i>folgen</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-12 col-md-7 offset-md-5">
                    <h1 class="text-center text-md-start">{{ course.title }}</h1>
                    {% if course.document %}
                        <img src="{{ vich_uploader_asset(course)|imagine_filter('course_index') }}" alt="Tutorium" class="img-fluid">
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-5 order-last order-md-first">
                    <div class="card card-body border-0 shadow-sm d-flex flex-column justify-content-start justify-content-md-end mb-3 sticky-md-top" style="top: 100px">
                        <h4>Kursmaterialien</h4>
                        {% for file in course.lessonDocs %}
                            <a href="{{ path('lesson_doc_download',{'id':file.id}) }}" class="d-flex flex-column" target="_blank">
                                <div class="d-flex justify-content-between align-items-center gap-3">
                                    <div class="d-flex justify-content-start align-items-center">

                                        <span class="fw-bold">
                                        <i class="bi bi-file-pdf text-danger me-1"></i> {{ file.title }}<br>
                                        <small class="text-decoration-none fw-light">{{ file.description }}</small>
                                        </span>
                                    </div>
                                    <span class="small text-muted">
                                    {{ file.updated|ago }}
                                </span>
                                </div>
                            </a>
                        {% else %}
                            <span>Noch keine Dateien verfügbar!</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="row g-3 row-cols-1">
                        <h2 class="text-center text-md-start h5 section-lead">{{ course.subject }}</h2>
                        <div>
                            <div class="d-flex flex-column justify-content-start justify-content-md-end mb-3">
                                <small class="opacity-50">{{ course.time|date('H:i') }} Uhr, {{ course.date|ago }}</small>
                                <small class="d-block">{{ course.location }}</small>
                            </div>
                        </div>
                        <h4>Kursinhalt</h4>
                        <div>{{ course.description|raw }}</div>
                        <div class="d-flex justify-content-between align-items-center">
                            {% if prev %}
                                <a href="{{ path('tutorium_show',{id: prev.id }) }}" class="btn btn-dark"><i class="bi bi-chevron-double-left me-2"></i>Zurück</a>
                            {% else %}
                                <a href="#" class="btn disabled btn-light"><i class="bi bi-chevron-double-left me-2"></i>Zurück</a>
                            {% endif %}
                            {% if next %}
                                <a href="{{ path('tutorium_show',{id: next.id }) }}" class="btn btn-dark">Weiter<i class="bi bi-chevron-double-right ms-2"></i></a>
                            {% else %}
                                <a href="#" class="btn disabled btn-light">Weiter<i class="bi bi-chevron-double-right ms-2"></i></a>
                            {% endif %}
                        </div>
                        <div class="pt-3">
                            <h4>Kommentare</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-transparent px-0">
                                    {{ form_start(comment_form) }}
                                    <div class="input-group mb-3">
                                        {{ form_widget(comment_form.content) }}
                                        {{ form_widget(comment_form.submit) }}
                                    </div>
                                    {{ form_end(comment_form) }}
                                </li>
                                {% for comment in course.courseComments %}
                                    <li class="list-group-item bg-transparent">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <b class="text-primary">{{ comment.user }}</b>
                                            <small>{{ comment.updated|ago }}</small>
                                        </div>

                                        <p class="mb-0">{{ comment.content }}</p></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#
        {% if is_granted('ROLE_USER') %}
            <ul class="list-group list-group-flush">
                {% for item in course.lessonDocs %}
                    <li class="list-group-item bg-transparent">
                        <i class="bi ms-0 ms-md-2 bi-file-pdf me-2"></i><a href="{{ path('lesson_doc_download',{'id':item.id}) }}" class="small text-secondary text-decoration-underline" target="_blank">{{ item.document }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <small class="text-muted"><i>(Downloads nur nach <a href="{{ path('app_login') }}">Login</a> möglich)</i></small>
        {% endif %}
        #}
    </section>
{% endblock %}
