{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block body %}
    {{ include('component/_navbar.html.twig') }}
    <section class="py-5" id="overview">
        <div class="container py-5">

            <div class="row g-3 mb-5 d-none d-md-flex">
                <div class="col-12 col-md-5 order-last align-self-stretch order-md-first">
                    <div class="card border-0 shadow-sm h-100">
                        <div class="card-header bg-white">
                            <span class="h5">Abonnentinnen</span>
                        </div>
                        <div class="list-group list-group-flush" style="overflow:auto; max-height: 360px;">
                            {% for user in course.users %}
                            <div class="list-group-item">
                                {{ user.firstName }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <h1 class="text-center text-md-start">{{ course.title }}</h1>
                    {% if course.document %}
                        <img src="{{ vich_uploader_asset(course)|imagine_filter('course_index') }}" alt="Tutorium" class="img-fluid">
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div>
                            <a href="{{ path('tutorium_index') }}" class="btn btn-light "><i class="bi bi-chevron-double-up me-2"></i>Übersicht</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ ea_url()
                                    .setController('App\\Controller\\Admin\\CourseCrudController')
                                    .setAction('edit')
                                    .setEntityId(course.id) }}" class="btn btn-info "><i class="bi bi-pen"></i></a>
                            {% endif %}
                        </div>
                        <div>
                            {% if course.users.contains(app.user) %}
                                <a href="{{ path('tutorium_subscribe',{id:course.id}) }}" class="btn btn-success "><i class="bi bi-bell-fill me-2"></i>nicht folgen</a>
                            {% else %}
                                <a href="{{ path('tutorium_subscribe',{id:course.id}) }}" class="btn btn-light "><i class="bi bi-bell me-2"></i>folgen</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-5 order-last order-md-first">
                    <div class="card border-0 shadow-sm sticky-md-top" style="top: 100px;z-index: 10">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false">Material</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Bilder</button>
                            </li>
                        </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="list-group list-group-flush">
                                        {% for file in course.lessonDocs %}
                                            <a href="{{ path('lesson_doc_download',{'id':file.id}) }}" class="list-group-item list-group-item-action d-flex flex-column" target="_blank">
                                                <div><i class="bi bi-file-pdf text-danger me-1"></i> {{ file.title }}</div>
                                                <small class="text-decoration-none fw-light">{{ file.description }}</small>
                                            </a>
                                        {% else %}
                                            <span class="list-group-item">Noch keine Dateien verfügbar!</span>
                                        {% endfor %}
                                    </div>

                                </div>
                                <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row g-0 row-cols-2 row-cols-md-3 chocolat-parent">
                                        {% for image in course.courseImages %}
                                        <a class="chocolat-image" href="{{ vich_uploader_asset(image)|imagine_filter('course_image') }}" title="{{ image.title ?? 'Ohne Titel' }}">
                                            <img src="{{ vich_uploader_asset(image)|imagine_filter('small_square') }}" alt="{{ course.title ?? 'Ohne Titel' }}" class="img-fluid">
                                        </a>
                                        {% else %}

                                        {% endfor %}

                                        <div class="w-100 h-100 d-flex justify-content-center align-items-center border-top">
                                            {{ form(upload_form) }}
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="row g-3 row-cols-1">

                        <div>
                            <div class="d-block d-md-none mb-3">
                                <div class="text-center h1 text-md-start">{{ course.title }}</div>
                                {% if course.document %}
                                    <img src="{{ vich_uploader_asset(course)|imagine_filter('course_index') }}" alt="Tutorium" class="img-fluid">
                                {% endif %}
                                <div class="d-flex justify-content-between align-items-center my-3">
                                    <div>
                                        <a href="{{ path('tutorium_index') }}" class="btn btn-light "><i class="bi bi-chevron-double-up me-2"></i>Übersicht</a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ ea_url()
                                                .setController('App\\Controller\\Admin\\CourseCrudController')
                                                .setAction('edit')
                                                .setEntityId(course.id) }}" class="btn btn-info "><i class="bi bi-pen"></i></a>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if course.users.contains(app.user) %}
                                            <a href="{{ path('tutorium_subscribe',{id:course.id}) }}" class="btn btn-success "><i class="bi bi-bell-fill me-2"></i>nicht folgen</a>
                                        {% else %}
                                            <a href="{{ path('tutorium_subscribe',{id:course.id}) }}" class="btn btn-light "><i class="bi bi-bell me-2"></i>folgen</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <h2 class="text-center text-md-start h5 section-lead">{{ course.subject }}</h2>
                            <div class="d-flex flex-column justify-content-start align-items-center align-items-md-start mb-3">
                                <small class="opacity-50">{{ course.time|date('H:i') }} Uhr, {{ course.date|date('d.m.Y') }}</small>
                                <small class="d-block">{{ course.location }}</small>
                            </div>
                        </div>
                        <h4>Kursinhalt</h4>
                        <div>{{ course.description|raw }}</div>
                        <div class="d-flex justify-content-sm-between flex-column flex-sm-row align-items-start align-items-md-center">
                            {% if prev %}
                                <a href="{{ path('tutorium_show',{id: prev.id }) }}" class="mb-3 mb-md-0 btn btn-dark"><i class="bi bi-chevron-double-left me-2"></i>{{ prev.title }}</a>
                            {% else %}
                                <a href="#" class="btn disabled btn-light mb-3 mb-md-0 "><i class="bi bi-chevron-double-left me-2"></i>Zurück</a>
                            {% endif %}
                            {% if next %}
                                <a href="{{ path('tutorium_show',{id: next.id }) }}" class="btn btn-dark">{{ next.title }}<i class="bi bi-chevron-double-right ms-2"></i></a>
                            {% else %}
                                <a href="#" class="btn disabled btn-light">Weiter<i class="bi bi-chevron-double-right ms-2"></i></a>
                            {% endif %}
                        </div>
                        <div class="pt-3">
                            <h4>Kommentare</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-transparent px-0">
                                    {{ form_start(comment_form) }}
                                    <div class="input-group mb-3">
                                        {{ form_widget(comment_form.content) }}
                                        {{ form_widget(comment_form.submit) }}
                                    </div>
                                    {{ form_end(comment_form) }}
                                </li>
                                {% for comment in course.courseComments %}
                                    <li class="list-group-item bg-transparent">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <b class="text-primary">{{ comment.user }}</b>
                                            <small>{{ comment.updated|ago }}</small>
                                        </div>

                                        <p class="mb-0">{{ comment.content }}</p></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#
        {% if is_granted('ROLE_USER') %}
            <ul class="list-group list-group-flush">
                {% for item in course.lessonDocs %}
                    <li class="list-group-item bg-transparent">
                        <i class="bi ms-0 ms-md-2 bi-file-pdf me-2"></i><a href="{{ path('lesson_doc_download',{'id':item.id}) }}" class="small text-secondary text-decoration-underline" target="_blank">{{ item.document }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <small class="text-muted"><i>(Downloads nur nach <a href="{{ path('app_login') }}">Login</a> möglich)</i></small>
        {% endif %}
        #}
    </section>
{% endblock %}
