<nav class="navbar navbar-expand navbar-light shadow-sm sticky-top bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-md-auto me-md-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_index') }}">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tutorium_index') }}">Kurse</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.firstName }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_USER') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('profile_index') }}">Profil</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('admin') }}">Admin</a>
                                </li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a href="{{ path('app_logout') }}" class="dropdown-item">Abmelden</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('IS_ANONYMOUS') %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Anmelden</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>